OIMWSClient/xml-resources/web-service-references/OIMLookupManager/wsdl/localhost_8080/OIMWebServices/OIMLookupManager.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:tns="http://interfaces.services.oimwebservices.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.services.oimwebservices.org/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.services.oimwebservices.org/" schemaLocation="http://localhost:8080/OIMWebServices/OIMLookupManager?xsd=1" />
</xsd:schema>
</types>
<message name="getLookupValues">
<part name="parameters" element="tns:getLookupValues" />
</message>
<message name="getLookupValuesResponse">
<part name="parameters" element="tns:getLookupValuesResponse" />
</message>
<message name="createClientSession">
<part name="parameters" element="tns:createClientSession" />
</message>
<message name="createClientSessionResponse">
<part name="parameters" element="tns:createClientSessionResponse" />
</message>
<message name="OIMHelperException">
<part name="fault" element="tns:OIMHelperException" />
</message>
<portType name="OIMLookupManager">
<operation name="getLookupValues">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.services.oimwebservices.org/OIMLookupManager/getLookupValuesRequest" message="tns:getLookupValues" />
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.services.oimwebservices.org/OIMLookupManager/getLookupValuesResponse" message="tns:getLookupValuesResponse" />
</operation>
<operation name="createClientSession">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.services.oimwebservices.org/OIMLookupManager/createClientSessionRequest" message="tns:createClientSession" />
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.services.oimwebservices.org/OIMLookupManager/createClientSessionResponse" message="tns:createClientSessionResponse" />
<fault xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" message="tns:OIMHelperException" name="OIMHelperException" ns5:Action="http://interfaces.services.oimwebservices.org/OIMLookupManager/createClientSession/Fault/OIMHelperException" />
</operation>
</portType>
</definitions>