OIMWSClient/src/META-INF/wsdl/localhost_8080/OIMWebServices/OIMUserManager.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:tns="http://interfaces.services.oimwebservices.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.services.oimwebservices.org/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.services.oimwebservices.org/" schemaLocation="http://localhost:8080/OIMWebServices/OIMUserManager?xsd=1" />
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser" />
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse" />
</message>
<message name="getUserByKey">
<part name="parameters" element="tns:getUserByKey" />
</message>
<message name="getUserByKeyResponse">
<part name="parameters" element="tns:getUserByKeyResponse" />
</message>
<message name="getUserRoles">
<part name="parameters" element="tns:getUserRoles" />
</message>
<message name="getUserRolesResponse">
<part name="parameters" element="tns:getUserRolesResponse" />
</message>
<message name="getUserRolesByKey">
<part name="parameters" element="tns:getUserRolesByKey" />
</message>
<message name="getUserRolesByKeyResponse">
<part name="parameters" element="tns:getUserRolesByKeyResponse" />
</message>
<message name="createClientSession">
<part name="parameters" element="tns:createClientSession" />
</message>
<message name="createClientSessionResponse">
<part name="parameters" element="tns:createClientSessionResponse" />
</message>
<message name="OIMHelperException">
<part name="fault" element="tns:OIMHelperException" />
</message>
<portType name="OIMUserManager">
<operation name="getUser">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/getUserRequest" message="tns:getUser" />
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/getUserResponse" message="tns:getUserResponse" />
</operation>
<operation name="getUserByKey">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/getUserByKeyRequest" message="tns:getUserByKey" />
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/getUserByKeyResponse" message="tns:getUserByKeyResponse" />
</operation>
<operation name="getUserRoles">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/getUserRolesRequest" message="tns:getUserRoles" />
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/getUserRolesResponse" message="tns:getUserRolesResponse" />
</operation>
<operation name="getUserRolesByKey">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/getUserRolesByKeyRequest" message="tns:getUserRolesByKey" />
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/getUserRolesByKeyResponse" message="tns:getUserRolesByKeyResponse" />
</operation>
<operation name="createClientSession">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/createClientSessionRequest" message="tns:createClientSession" />
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/createClientSessionResponse" message="tns:createClientSessionResponse" />
<fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:OIMHelperException" name="OIMHelperException" ns11:Action="http://interfaces.services.oimwebservices.org/OIMUserManager/createClientSession/Fault/OIMHelperException" />
</operation>
</portType>
</definitions>